<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <div>{{sum}}</div>
    <div>{{a}} </div>

</div>
<!--<script src="../dist/vue/index.js"></script>-->
<script src="../dist/vue/vue.js"></script>
<!--<script src="../dist/src/vue/index.js"></script>-->
<script>
   var vm = new Vue({
       el: '#app',
       data(){
           return {
               a: '1233',
               // message: 'hello word',
               // arr: [1,2,3,4],
               num1: 2,
               num2: 3
           }
       },
       computed: {
           sum(){
               return this.num1 + this.num2
           }
       }
   })
setTimeout(() => {
    vm.num1 = 10
    setTimeout(() => {
        vm.num2 = 10

        // vm._data.a = 'aaaaaaaa'
        // vm.arr.push(5)
        //
        // vm.message = 'hello word=======111'
        // console.log(vm, 'vm')
        console.log('===============2000s')
    }, 2000)
    // vm._data.a = 'aaaaaaaa'
    // vm.arr.push(5)
    //
    // vm.message = 'hello word=======111'
    // console.log(vm, 'vm')
    console.log('===============2000s')
}, 2000)


</script>
</body>
</html>
