<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <div>{{a}}</div>
    <div>{{arr}}</div>
   <div>
       <p>
           {{message}}
       </p>
   </div>
</div>
<script src="../dist/vue/index.js"></script>
<!--<script src="../dist/src/vue/index.js"></script>-->
<script>
   var vm = new Vue({
       el: '#app',
       data(){
           return {
               a: '1233',
               message: 'hello word',
               arr: [1,2,3,4]
           }
       }
   })
setTimeout(() => {
    vm._data.a = 'aaaaaaaa'
    vm.arr.push(5)
    vm.message = 'hello word=======111'
    console.log(vm, 'vm')
    console.log('===============2000s')
}, 2000)
    // vm._data.a = 23333334
    // console.log(vm, 'vm')
   // console.log(m_vue)
   // console.log(m_vue.a)

</script>
</body>
</html>
